.resources_main{
    height: 89.8vh !important;
    margin-top: 0px !important;
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
    font-family: "Roboto Slab", serif !important;
    
}

.sideNavBar{
    width: 20vw;
    background-color: #E7E9EB;
    margin-top: 0%;
    overflow: auto;
    /* position: sticky; */
}

.contentContainer{
    width: 80vw;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.Headings{
    padding-left: 20px;
    margin-top: 30px;
}

.subHeading{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
}

.subHeadingText{
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: black;
}

a{
    color: black;
}

.subHeading:hover{
    background-color: hsl(51, 82%, 64%);
    text-decoration: none;
}

.communicationHeading{
    font: bolder;
}

h4{
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
    border-bottom: 1px dotted black;
    padding-bottom: 10px;
    margin-right: 15px;
}